* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: rgb(8, 90, 33);
}
body span{
    color: rgb(8, 90, 33);
}
.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: rgb(8, 90, 33);
    padding: 4px;
}
.header li {
    float: right;
    
}
.header ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.header img{
    width: 80px;
    height: 80px;
    padding: 8px;
    size: 8px;
}
.header li{
    font-size: 35px;
}
h1{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 50px;
    margin: 20px;
}
p{
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 10px;
}